@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
.canvasWrapper {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.mainBanner {
  padding: 2rem 0;
  height: 100%;
}

.bannerWrapper {
  padding-left: 10px;
}

.letterAnimation {
  display: inline-block;
  min-width: 15px;
  font-size: 4rem;
  color: #fff;
  font-family: "Fredoka One", cursive;
  cursor: default;
}

.letterAnimation:hover {
  -webkit-animation: letter 1s ease-in-out infinite;
          animation: letter 1s ease-in-out infinite;
  color: #8BDB81 !important;
}

.tags {
  display: block;
  margin: 5px 5px 5px 0;
  color: #808080;
  font-size: 16px;
  font-family: "Source Code Pro", monospace;
}

.nameLetter {
  display: inline-block;
  min-width: 10px;
  font-size: 4rem;
  color: #8BDB81;
  font-family: "Fredoka One", cursive;
  cursor: default;
}

.nameLetter:hover {
  -webkit-animation: letter 1s ease-in-out infinite;
          animation: letter 1s ease-in-out infinite;
  color: #8A39E1 !important;
}

@-webkit-keyframes letter {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  50% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  75% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes letter {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  50% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  75% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.exampleCursor {
  width: 50px;
  position: absolute;
  z-index: 99;
  -webkit-animation: blink 2s infinite;
          animation: blink 2s infinite;
}

.cursor {
  width: 50px;
  -webkit-filter: brightness(0) invert(0.2);
          filter: brightness(0) invert(0.2);
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
    left: 10%;
  }
  100% {
    opacity: 1;
    left: 80%;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
    left: 10%;
  }
  100% {
    opacity: 1;
    left: 80%;
  }
}

.bannerBtnWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1rem;
  position: relative;
  overflow: hidden;
}

.bannerBtnWrapper .bannerButton {
  width: 180px;
  padding: 1rem 1.2rem;
  background-color: transparent;
  color: #8BDB81;
  border: 1px solid #8BDB81;
  font-weight: 600;
  overflow: hidden;
  font-family: "Source Code Pro", monospace;
}

.bannerBtnWrapper .bannerButton::before {
  content: "";
  width: 200px;
  height: 100%;
  background-color: #8BDB81;
  position: absolute;
  left: -180px;
  top: 0;
  z-index: -1;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.bannerBtnWrapper .bannerButton:hover {
  color: #000;
}

.bannerBtnWrapper .bannerButton:hover::before {
  left: -20px;
}

@media screen and (max-width: 767.9px) and (min-width: 400px) {
  .letterAnimation {
    font-size: 2.3rem !important;
    min-width: 10px !important;
  }
  .nameLetter {
    font-size: 2.3rem !important;
    min-width: 10px !important;
  }
  .bannerWrapper {
    padding-left: 0 !important;
  }
}

@media screen and (max-width: 400px) and (min-width: 300px) {
  .letterAnimation {
    font-size: 2rem !important;
    min-width: 8px !important;
  }
  .nameLetter {
    font-size: 2rem !important;
    min-width: 10px !important;
  }
}

@media screen and (width: 1024px) {
  .letterAnimation {
    font-size: 2.5rem !important;
    min-width: 7px !important;
  }
  .nameLetter {
    font-size: 2.5rem !important;
    min-width: 10px !important;
  }
}

@media screen and (max-width: 280.99px) {
  .bannerButton {
    width: 170px !important;
    padding: 0.5rem !important;
  }
  .letterAnimation {
    font-size: 1.6rem !important;
    min-width: 5px !important;
  }
  .nameLetter {
    font-size: 1.6rem !important;
    min-width: 5px !important;
  }
  .bannerWrapper {
    padding-left: 0 !important;
  }
}
/*# sourceMappingURL=banner.module.css.map */