@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap");
.tags {
  display: block;
  margin: 5px 5px 5px 0;
  color: #808080;
  font-size: 16px;
  font-family: "Source Code Pro", monospace;
}

.letterAnimation {
  display: inline-block;
  min-width: 15px;
  font-size: 6rem;
  color: #fff;
  font-family: "Fredoka One", cursive;
  cursor: default;
}

.letterAnimation:hover {
  -webkit-animation: letter 1s ease-in-out infinite;
          animation: letter 1s ease-in-out infinite;
  color: #8BDB81 !important;
}

.contactMain {
  padding: 2rem 0;
}

@-webkit-keyframes letter {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  50% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  75% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes letter {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  50% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  75% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.contactWrapper {
  padding-left: 20px;
  height: 100%;
}

.nameLetter {
  display: inline-block;
  min-width: 10px;
  font-size: 5.5rem;
  color: #8BDB81;
  font-family: "Fredoka One", cursive;
  cursor: default;
}

.nameLetter:hover {
  -webkit-animation: letter 1s ease-in-out infinite;
          animation: letter 1s ease-in-out infinite;
  color: #8A39E1 !important;
}

.contactText {
  margin: 1rem 0;
  color: #fff;
}

.contactInput {
  width: 100%;
  padding: 0.5rem;
  border: 2px solid transparent;
  outline: none;
  background-color: #191918;
  color: #fff;
  -webkit-transition: border-bottom 0.2s ease-in-out;
  transition: border-bottom 0.2s ease-in-out;
}

.contactInput:focus {
  border-bottom: 2px solid #8BDB81;
}

.contactInput::-webkit-input-placeholder {
  color: gray;
}

.contactInput:-ms-input-placeholder {
  color: gray;
}

.contactInput::-ms-input-placeholder {
  color: gray;
}

.contactInput::placeholder {
  color: gray;
}

.contactButton {
  margin-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1rem;
  position: relative;
  overflow: hidden;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contactButton .sendButton {
  width: 180px;
  padding: 1rem;
  background-color: transparent;
  color: #8BDB81;
  border: 1px solid #8BDB81;
  font-weight: 600;
  overflow: hidden;
  font-family: "Source Code Pro", monospace;
}

.contactButton .sendButton::before {
  content: "";
  width: 200px;
  height: 100%;
  background-color: #8BDB81;
  position: absolute;
  left: -180px;
  top: 0;
  z-index: -1;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.contactButton .sendButton:hover {
  color: #000;
}

.contactButton .sendButton:hover::before {
  left: -20px;
}

.errorInput {
  border-bottom: 2px solid red !important;
}

.mailIcon {
  color: #8BDB81;
  font-size: 1.2rem;
  margin-right: .5rem;
}

.email {
  color: #8A39E1;
  font-size: 1.2rem;
  margin-right: 1rem;
}

.contactButtonWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.messageSuccess {
  position: absolute;
  right: 10px;
  bottom: 0;
  color: #8BDB81;
  padding: 1rem;
  border: 2px solid #8BDB81;
  -webkit-animation: messageBox .3s ease-in-out;
          animation: messageBox .3s ease-in-out;
}

@media screen and (max-width: 540px) and (min-width: 500px) {
  .contactWrapper {
    padding-left: 0 !important;
  }
  .letterAnimation {
    font-size: 4rem !important;
  }
  .nameLetter {
    font-size: 4rem !important;
  }
}

@media screen and (max-width: 499.9px) {
  .contactButtonWrapper {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -webkit-box-align: start !important;
        -ms-flex-align: start !important;
            align-items: flex-start !important;
  }
}

@media screen and (max-width: 474.9px) {
  .contactButtonWrapper {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  .contactWrapper {
    padding-left: 0 !important;
  }
  .nameLetter {
    min-width: 0 !important;
  }
  .letterAnimation {
    min-width: 0 !important;
  }
}

@media screen and (max-width: 412px) and (min-width: 320px) {
  .letterAnimation {
    font-size: 5rem !important;
  }
  .nameLetter {
    font-size: 5rem !important;
  }
}

@media screen and (max-width: 280px) {
  .letterAnimation {
    font-size: 4rem !important;
  }
  .nameLetter {
    font-size: 4rem !important;
  }
  .email {
    font-size: 1rem !important;
  }
  .sendButton {
    width: 130px !important;
    padding: .7rem !important;
  }
}

@-webkit-keyframes messageBox {
  0% {
    opacity: 0;
    -webkit-transform: bottom(0);
            transform: bottom(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: bottom(30px);
            transform: bottom(30px);
  }
}

@keyframes messageBox {
  0% {
    opacity: 0;
    -webkit-transform: bottom(0);
            transform: bottom(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: bottom(30px);
            transform: bottom(30px);
  }
}
/*# sourceMappingURL=contact.module.css.map */